header, nav, main {
    max-width: 1240px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
#hamburgerBtn{display: none;}
nav {
    position: static;
    transform: translateX(0);
    width: auto;
    div {display: none;}
    ul {
        display: flex;
        margin-left: 2%;
        border-left: 1px solid rgba(0,0,0,0.2);
    }
    ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.2);
        padding: .6rem 1.5rem;
    }
}//end nav


#cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    section {
        grid-template-areas: 
        "photo name"
        "photo address"
        "phone phone";
        grid-template-columns: 250px auto;
        column-gap: 8px;
        }
}//end cards